@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #2a2a72;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
  padding-top: 10rem;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #4c2885;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 1rem; /* => multiplier of the root HTML element, default is 16px ==> 1rem = 16px */
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}

.user-form input:focus {
  outline: none;
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

.card {
  max-width: 100%;
  background-color: #4c2885;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0; /* Remove margins */
}

.hidden {
  display: none;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #2a2a72;
  height: 150px;
  width: 150px;
}

.user-info {
  justify-content: center;
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.user-info p {
  display: flex;
  justify-content: center;
}

.user-info ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-right: 1rem;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.repo {
  text-decoration: none;
  color: white;
  background-color: #2a2a72;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}
